h3 {
    margin: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favourite-movie,
.mood-movie,
.movie {
    border-radius: 8px;
    background-color: #3B4877;
    border: 2px solid #3B4877;
    resize: none;
    font-size: 1.5em;
}

.find-movie-btn {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    margin: 1rem;
    background-color: #51E08A;
    border: 2px solid #51E08A;
}