#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
}

#root,
body {
  overflow-x: auto;
  background-color: #000C36;
}

* {
  /* this makes sure the padding and the border is included in the box sizing */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}